@font-face {
    font-family: Logo;
    src: url(../fonts/Malvie.otf);
    font-weight: normal;
}

@font-face {
    font-family: "vid txt";
    src: url(../fonts/Bakemono-Stereo-Bold-trial.ttf);
    font-weight: normal;
}

@font-face {
    font-family: txt;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.contact {
    flex: 1;
}

.vid-text {
    font-family: "vid txt";
}

.navbar {
    top: 0;
    width: 100%;
    padding: 20px 180px;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0);
    color: #ffffff;
}

.khyah {
    font-family: Logo;
    font-size: 45px;
    color: #ffffff;
}

.khyah a {
    color: #ffffff;
    text-decoration: none;
}

.nav-right {
    display: flex;
    gap: 25px;
    font-family: txt;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 1px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.navbar a:hover {
    opacity: 0.7;
}

.court-image-container{
    width: 100%;
    height: 62vh;
    background-image: url('/images/city-side.jpg');
    background-size: cover;
    background-position:0% 70%;
    filter: brightness(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.court-title{
    font-family: 'vid txt';
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    z-index: 10;
}